@font-face {
  font-family: $font-Light;
  src: url('../assets/fonts/Muli-Light.ttf') format('ttf'),
  url('../assets/fonts/Muli-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-Bold;
  src: url('../assets/fonts/Muli-Bold.ttf') format('ttf'),
  url('../assets/fonts/Muli-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: $font-Regular;
  src: url('../assets/fonts/Muli-Regular.ttf') format('ttf'),
  url('../assets/fonts/Muli-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}