body > #root > div > .cComponent {
    overflow-y: hidden;
    overflow-x: hidden;
    width: '100%';
    height: '100vh';
}


#myName{
    font-size: 150px;
    font-weight: bold;
    margin-top: 36%;
    color: white;
    margin-left: 1%;
    text-shadow: 2px 2px 4px #000;
}

.thought{
    color:#50E3C2;
    font-size: 11px;
    position: fixed;
    bottom: 50px;
    height: 20px;
    width: 100%;
    padding-left: 1%;
    text-shadow: 2px 15px 18px #50E3C2;
}


.content {
  display: flex;
  width: 100%;
}

.content img {
  margin-right: 10px;
  display: block;
  width:50%;
  height: 100vh;
}

.content .content-right {
    width: 50%;
    height: 100vh;
}

.title-tag{
    font-size: 70px;
}

.title-tag-about{
  margin: auto;
  width: 25%;
  font-size: 70px;
  padding-bottom: 10%;
  padding-top: 10%;
}

.description-tag{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}

.breathing-paragraph{
  line-height: 1.6;
}

#map{
    position: absolute;
    left: 0;
    right: 0;
    overflow: visible;
    height: 100vh;
}

#title-abs{
    z-index: 1;
    color: black;
    font-size: 70px;
    top: 0px;
    padding-left: 10%;
    line-height: 20px;
}

/* Family */
.slide-container {
  width: 100%;
  height: 100vh;
}
 
h3 {
  text-align: center; 
  }
 
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: repeat-x;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  opacity: 0.5;
}

#text-family-center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: black;
  padding: 1%;
  font-weight: bold;
}
 
.each-fade {
  display: flex;
}
 
.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}
 
.each-fade .image-container img {
  width: 100%;
  background-size: cover;
}



/* Hire Me */
.big-title{
  font-family: $font-Bold;
  font-size: 150px; 
}

.contact-wrapper{
        width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.triangleish-shape{
    margin-left: -10%;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    float: left;
    transform: skew(-20deg);
    color: white;
    background-color: black;
}

.form-shape-container{
margin-right: -10%;
position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    float: left;
    transform: skew(-20deg);
}

.form-shape { 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%) skew(20deg);
}

.form-content{
  display: block;
    position: absolute;
    margin: 0 auto;
    width: 75%;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
}

.triangleish-content{
      position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) skew(20deg);
}
.triangle-content-div{
  margin-left: 30%;
  margin-top: 20%;
}
