body > #root > div > .cComponent {
    overflow-y: hidden;
    overflow-x: hidden;
    width: '100%';
    height: '100vh';
}


#myName{
    font-size: 150px;
    font-weight: bold;
    margin-top: 36%;
    color: white;
    margin-left: 1%;
    text-shadow: 2px 2px 4px #000;
}

.thought{
    color:#50E3C2;
    font-size: 15px;
    position: fixed;
    bottom: 50px;
    height: 20px;
    width: 100%;
    padding-left: 1%;
    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black, -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black, 0.05em 0.05em black;
}

.external-link{
  color: #50e3c2
}

.content {
  display: flex;
  width: 100%;
}

.content img {
  margin-right: 10px;
  display: block;
  width:50%;
  height: 100vh;
}

.content .content-right {
    width: 50%;
    height: 100vh;
}

.title-tag{
    font-size: 70px;
}

.title-tag-about{
  margin: auto;
  width: 25%;
  font-size: 70px;
  padding-bottom: 10%;
  padding-top: 10%;
}

.description-tag{
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 5%;
}

.breathing-paragraph{
  line-height: 1.6;
}

#map{
    position: absolute;
    left: 0;
    right: 0;
    overflow: visible;
    height: 100vh;
}

#title-abs{
    z-index: 1;
    color: black;
    font-size: 70px;
    top: 0px;
    padding-left: 10%;
    line-height: 20px;
}

.breathing-paragraph{
  margin-bottom: 5%;
}

/* Family */


.slide-container {
  width: 100%;
  height: 100vh;
  display: inline-flex;
  background-color: rgba(20, 245, 234, 0.22)
}

.slide-div{
 width: 65%;
}

.each-slide > div {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-size: cover;
}

.react-slideshow-container .nav{
  border-radius: 0%;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
}

#text-family-center {
  width: 35%;
  padding: 1%;
  margin: auto;
}

#text-family-center > h1 { 
  color: #d54d7b; 
  font-family: "Great Vibes", 
  cursive; font-size: 165px; 
  line-height: 160px; 
  font-weight: normal; 
  margin-bottom: 0px; 
  margin-top: 0px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}


#text-family-center > p { 
  color: #7a7c7f; 
  font-size: 29px; 
  font-family: "Libre Baskerville", serif; 
  line-height: 45px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
  padding-top: 20px; 
}


#text-family-center > p.byline { 
  font-style: italic; 
  color: #B6B6B6; 
  font-size: 24px; 
  margin-top: 20px; 
  text-align: center; 
  text-shadow: 0 1px 1px #fff; 
}

/* Hire Me */
.big-title{
  font-family: $font-Bold;
  font-size: 150px; 
}

#form-hire-me{
  width: 1200px;
}

.triangleish-shape.change-size{
  margin-left: -20%;
}

.change-size-form{
  margin-left: 10%;
}

.contact-wrapper{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.triangleish-shape{
    margin-left: -10%;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    float: left;
    transform: skew(-20deg);
    color: white;
    background-color: black;
}

.form-shape-container{
margin-right: -10%;
position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    float: left;
    transform: skew(-20deg);
}

.form-shape { 
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 55%;
    transform: translateX(-50%) translateY(-50%) skew(20deg);
}

.form-content{
  display: block;
    position: absolute;
    margin: 0 auto;
    width: 75%;
    min-height: 400px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
}

.triangleish-content{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) skew(20deg);
}
.triangle-content-div{
  margin-left: 25%;
  margin-top: 10%;
}

.hire-me-p{
  line-height: 1.5;
}


/* Small devices (landscape phones, 576px and up)b*/
@media (max-width: 576px) { 
  .bm-burger-button{
    left: 6px;
  }

  #myName{
    font-size: 50px;
  }

  #image-div{
    width: 15%!important;
    background-size: contain!important;
  } 

  .content .content-right{
    width: 80%;

  }
  .title-tag-about{
    font-size: 20px;
  }
  .description-tag{
    padding-top: 0%;
    padding-right: 0%;
  }
  .breathing-paragraph{
    font-size: 10px;
  }

  #title-abs{
    font-size: 30px;
    padding-top: 15%;
  }

  .title-tag{
    font-size: 20px;
  }

  .triangleish-shape{
    margin-left: -120%;
    transform: skew(-50deg);
    width: 100%
  }

  .triangle-content-div > p {
    font-size: 10px;
  }

  .triangleish-content{
    margin-top: 30%;
    transform: translateX(-50%) translateY(-50%) skew(50deg)
  }

  #form-hire-me {
    width: 300px;
  }

  .triangleish-shape.change-size{
    margin-left: -120%;
  }

  #text-family-center{
    width: 100%;
    font-size: 10px;
  }




  .slide-container {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    background-color: rgba(20, 245, 234, 0.22)
  }


  .slide-div{
   width: 100%;
  }

  #text-family-center {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(205, 249, 247);
    padding: 1px; 
  }

  .react-slideshow-container .nav{
    height: 30px;
  }


  #text-family-center > h1 { 
    margin-top: -15%;
    font-size: 30px; 
  }


  #text-family-center > p { 
    font-size: 15px; 
    margin-top: -25%;
    line-height: 1.3;
    padding-top: 30px;
  }

}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 577px) and (max-width: 768px) { 
  #myName{
    font-size: 90px;
  }

  #image-div{
    width: 15%!important;
    background-size: contain!important;
  } 

  .content .content-right{
    width: 90%;
  }

  .triangleish-shape.change-size{
     margin-left: -120%;
  }

  #form-hire-me{
    width: 600px;
  }

  .title-tag-about{
    width: 35%;
  }

  .triangleish-shape{
    margin-left: -68%;
    width: 100%; 
    transform: skew(-45deg);
  }
  .triangleish-content{
    left: 80%;
    transform: translateX(-50%) translateY(-50%) skew(45deg)
  }

  .triangle-content-div > p {
    font-size: 15px;
  }

  .triangle-content-div > .title-tag{
    font-size: 30px;
  }

  .form-shape{
    top: 65%;

  }

  #form-hire-me{
    width: 700px;
    padding-left: 10%;
  }

  .triangle-content-div{
    margin-left: 40%;
    margin-top: 11%;
    width: 100%;
  }

  .hire-me-p{
    line-height: 1.3;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }

  .hire-me-contact-div{
    padding-right: 5%;
  }

  .bm-item{
    margin-left: -50px;
  }

  .change-size{
    margin-left: -120%;
  }

  .change-size-form{
    margin-left: 45%;
  }

  .slide-container {
    width: 100%;
    height: 100vh;
    display: inline-flex;
    background-color: rgba(20, 245, 234, 0.22)
  }


  .slide-div{
   width: 100%;
  }

  #text-family-center {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgb(205, 249, 247);
    padding: 1px; 
  }

  .react-slideshow-container .nav{
    height: 80px;
  }


  #text-family-center > h1 { 
    color: #d54d7b; 
    font-family: "Great Vibes", 
    cursive; font-size: 40px; 
    font-weight: normal; 
    text-align: center; 
    margin-top: -5%;
  }


  #text-family-center > p { 
    color: #7a7c7f; 
    font-size: 20px; 
    font-family: "Libre Baskerville", serif; 
    text-align: center; 
    margin-top: -10%;
  }

}

/* Extra large devices (large desktops, 1000px and up) */
@media (min-width: 769px) and (max-width: 1024px) { 
  #myName{
    font-size: 100px;
  }

  #image-div{
    margin-left: -10%;
  } 

  .content .content-right{
    width: 60%;
  }

  .title-tag-about{
    width: 30%; 
    font-size: 35px;
    padding:0;
  }

  .breathing-paragraph{
    margin-bottom: 0%;
    line-height: 1.3;
  }

  .triangleish-shape{
    margin-left: -20%;
    width: 70%;
  }

  #form-hire-me{
    width: 600px;
  }

  .triangleish-shape.change-size{
    margin-left: -40%;
  }

  .change-size-form{
    margin-left: 20%;
  }

  .triangle-content-div{
    margin-left: 35%;
    margin-top: 15%;
  }
  .title-tag{
    font-size: 50px;
  }

  .hire-me-p {
    line-height: 1.3;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 14px;
  }

  .hire-me-contact-div {
    margin-top: -5%;
  }

  #text-family-center > h1 {
    font-size: 100px;
    line-height: 130px; 
  }

  #text-family-center > p {
    margin-top: -5%;
    padding-top: 0px; 
    font-size: 23px; 
  }

  
}
